.webixappstart{
    opacity:0;
}
.webixapp{
    transition: opacity 500ms;
    opacity: 1;
}

/*data loading status*/
.status_good, .status_error, .status_saving{
	text-align: center;
	margin-left:-12px;
}
.status_error{
	color:red;
}
.status_good{
	color:green;
}

/*login form*/
.invalid_login .webix_header > div{
    background: #FC3636;
    transition: background 1s;
}
.invalid_login{
    -webkit-animation: formshake .5s linear;
}
@-webkit-keyframes formshake {
    8%, 41% {
        -webkit-transform: translateX(-10px);
    }
    25%, 58% {
        -webkit-transform: translateX(10px);
    }
    75% {
        -webkit-transform: translateX(-5px);
    }
    92% {
        -webkit-transform: translateX(5px);
    }
    0%, 100% {
        -webkit-transform: translateX(0);
    }
}
.app_header.webix_header{
	text-align:center;
}
.app_layout.webix_layout_clean{
	background: #EBEDF0;
}
.app_start .webix_template{
	padding:12px 12px;
}
.app_menu .webix_icon{
	font-size:20px;
	vertical-align:middle;
}
.fa-user {
    margin-right: 10px;
    vertical-align: sub;
}
.company_name {
    margin: -15px 0px 0px 25px;
    font-size: 12px;
    color: gray;
}
.text_align_center {
    text-align: center;
}
.text_align_end {
    text-align: end;
}
.contacts_info {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.contacts_info div {
    display: flex;
    flex-flow: column;
}
.contacts_info_first_column {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    text-align: center;
}
.contacts_info_photo {
    height: 150px;
    width: 200px;
}
.empty_template .webix_template{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 25px;
}
.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.list_photo{
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-right: 5px;
}
.list_filter {
    background-color: white;
    padding-bottom: 6px;
}
.list_filter input {
    border: none
}
